<button class="refresh-btn" (click)="afficherTrajets()">Rafraichir</button>

<div class="trajet-container">
    <div class="trajet-card" *ngFor="let trajet of listTrajets">
        <div class="trajet-info">
            <p><strong>Départ:</strong> {{ trajet.Depart }}</p>
            <p><strong>Arrivée:</strong> {{ trajet.Arrivee }}</p>
            <p><strong>Date:</strong> {{ trajet.Date }}</p>
            <p><strong>Heure:</strong> {{ trajet.Heure }}</p>
            <p><strong>Nombre de place:</strong> {{ trajet.Nbplace }}</p>
            <p><strong>Prix:</strong> {{ trajet.Prix }}</p>
            <p><strong>Conducteur:</strong> {{ trajet.Conducteur }}</p>
            <p><strong>Passagers:</strong> {{ trajet.Passagers }}</p>
        </div>
    </div>
</div>
