#map {
  position: absolute;
  top: 50%; /* Centrer verticalement */
  left: 50%; /* Centrer horizontalement */
  transform: translate(-50%, -50%); /* Centrer précisément */
  width: 70%; /* Largeur de la carte */
  height: 70vh; /* Hauteur de la carte (70% de la hauteur de la vue) */
}


#categories {
  position: absolute;
  top: 90%;
  bottom: 0;
  left: 0;
  right: 0;
}
