<div>
  <app-navbar [activeIndex]="activeIndex" (slideChange)="changeSlide($event)"></app-navbar>
  <div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-ride="carousel">
    <div class="carousel-inner">
      <div *ngFor="let slide of slides; let i = index" [class.active]="i === activeIndex" class="carousel-item">
        <div class="mask" [style]="slide.style">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white text-center">
              <h1 class="mb-3">{{ slide.title }}</h1>
              <!-- switch case for different slides  -->
              @if(slide.title === 'Recipes'){
                <app-search-bar></app-search-bar>
              } @else if (slide.title ==='What is Manage Your Night ?'){
                <h5>MyNight is a service of management for your parties.</h5> <h5>You can use "Recipe Helper" to make cocktails or apetizers with simple recipes.</h5> <h5>Search a bar or somewhere else to spend your night ? go to "What to do".</h5><h5>What to go back home or to a party, pick a carpooling in "Go back Home"</h5>
              } @else if (slide.title ==='Map'){
                <app-map></app-map>
              } @else if (slide.title === 'Carpooling'){
                <!-- affiche une balise suivant le bouton appuyé   -->
                <div>
                  <button (click)="ButtonChoisi = 'Proposer une Trajet'" class="choix_type_trajet">Submit a trip</button>
                  <button (click)="ButtonChoisi = 'Rechercher un Trajet'" class="choix_type_trajet">Find a trip</button>
                  @if (ButtonChoisi === 'Proposer une Trajet'){
                    <div>
                    <app-ajout_Trajet></app-ajout_Trajet>
                    </div>
                  } 
                  @else if (ButtonChoisi === 'Rechercher un Trajet'){
                    <div>
                    <app-affiche-trajet></app-affiche-trajet>
                    </div>
                  }
                </div>
                
              } 
              @else if (slide.title === 'About us'){
                <h5>We're a group of 4 students in our 3rd year of a bachelor's degree in computer science.</h5> <h5>The basic aim of the project was to create a web application using Angular, API Rest, Nodejs and MongoDB technologies. </h5>
              } 
              @else {
                <p>{{ slide.content }}</p>
              }
            </div>
          </div>
        </div>
      </div>
    </div>

    <a class="carousel-control-prev" role="button" (click)="prevSlide()">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" role="button" (click)="nextSlide()">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
